# Join Attribute Tables of Spatial Data
Required packages:
1. geopandas

In [1]:
import pandas as pd
import geopandas as gpd

## 1. Load the data

Data description:

1. Data 1: access.shp

2. Data 2: income.shp

In [8]:
access = gpd.read_file('../../data/jointables/access.shp')
access.head()

    PLN_AREA_N  rat_un_he                                           geometry
0   ANG MO KIO   0.186899  POLYGON ((30658.5 42047.527, 30679.195 42020.8...
1        BEDOK   0.181129  POLYGON ((38974.269 36138.243, 39371.471 35747...
2       BISHAN   0.074724  POLYGON ((29772.191 38311.805, 29784.826 38304...
3     BOON LAY   0.000000  POLYGON ((12861.383 32207.492, 12860.555 32208...
4  BUKIT BATOK   0.287983  POLYGON ((20294.455 39114.528, 20334.318 39054...

In [9]:
income = gpd.read_file('../../data/jointables/income.shp')
income.head()

,Name,PLN_AREA_N,lowinc_1k,lowinc_2k,lowinc_3k,geometry
0,kml_1,BEDOK,0.027287,0.092661,0.157627,"POLYGON ((103.93208 1.30555, 103.93208 1.30555..."
1,kml_2,BOON LAY,0.000000,0.000000,0.000000,"POLYGON ((103.72042 1.32824, 103.72003 1.3276,..."
2,kml_3,BUKIT BATOK,0.017531,0.086412,0.149146,"POLYGON ((103.76408 1.37001, 103.76444 1.36947..."
3,kml_4,BUKIT MERAH,0.040185,0.137165,0.210762,"POLYGON ((103.82361 1.26018, 103.82362 1.26026..."
4,kml_5,BUKIT PANJANG,0.016969,0.059454,0.120975,"POLYGON ((103.77445 1.39029, 103.77499 1.38607..."

## 2. Join the attribute tables based on the common field

The common field is 'PLN_AREA_N'.

In [14]:
merge = pd.merge(access, income, on='PLN_AREA_N', how='left').drop('geometry_y', axis=1)

merge.head()

,PLN_AREA_N,rat_un_he,geometry_x,Name,lowinc_1k,lowinc_2k,lowinc_3k
0,ANG MO KIO,0.186899,"POLYGON ((30658.5 42047.527, 30679.195 42020.8...",kml_52,0.032053,0.118758,0.192010
1,BEDOK,0.181129,"POLYGON ((38974.269 36138.243, 39371.471 35747...",kml_1,0.027287,0.092661,0.157627
2,BISHAN,0.074724,"POLYGON ((29772.191 38311.805, 29784.826 38304...",kml_51,0.020294,0.059564,0.095917
3,BOON LAY,0.000000,"POLYGON ((12861.383 32207.492, 12860.555 32208...",kml_2,0.000000,0.000000,0.000000
4,BUKIT BATOK,0.287983,"POLYGON ((20294.455 39114.528, 20334.318 39054...",kml_3,0.017531,0.086412,0.149146

In [15]:
merge.to_file('../../data/jointables/outputs/merged.shp')